html {
  height: 90%;
  margin: 0;
}

body {
  color: #777;
  line-height: 1.6;
  height: 100%;
  margin: 0;
}

.header {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 768px;
  margin: 0 auto;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
      padding-right: 1em;
      padding-left: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  letter-spacing: 0.05em;
}

.header h1 {
  font-size: 200%;
  font-weight: 100;
  margin: 0;
}

.header h2 {
  font-size: 125%;
  font-weight: 100;
  line-height: 1.5;
  margin: 0;
  color: #666;
  letter-spacing: -0.02em;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#lnkNav {
  color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/*ul.topnav li a:hover {background-color: #111;}*/

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*Generales*/
.active 
{ 
  background-color: #3b8bba !important;
  color: #fff !important; 
}

.hidden
{
  display: none;
}

.divForm 
{
  clear: left;
  margin-bottom: 3px;
}

/*Loading*/
.loading {
    width: 102px;
    height: 102px;
    background-image: url(../img/sprite-loading.png);
    
    -webkit-animation: play .6s steps(8) infinite;
       -moz-animation: play .6s steps(4) infinite;
        -ms-animation: play .6s steps(4) infinite;
         -o-animation: play .6s steps(4) infinite;
            animation: play .6s steps(4) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -816px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -816px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -816px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -816px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -816px; }
}

@media (max-width: 1000px) {
.center-inner{left:25%;top:25%;position:absolute;width:50%;height:300px;text-align:center;max-width:500px;max-height:500px;}
}
@media (min-width: 1000px) {
.center{left:50%;top:25%;position:absolute;}
.center-inner{width:500px;height:100%;margin-left:-250px;height:300px;text-align:center;max-width:500px;max-height:500px;}}

/*Operation*/
.selected
{
  color: #3b8bba;
}

legend
{
  color: #3b8bba!important;
}

textarea
{
  width: 97%;
}

/*Evidencias fotograficas*/
.l-box 
{
  padding: 1em;
}

/*#evidencias ul
{
  list-style-type: none;
}
#evidencias ul li
{
  padding: 1%;
  float: left;
}
div.photo
{
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
}*/

.navigator {
  background: rgb(250, 250, 250);
  margin: 0 auto;
  margin-right: 1em;
  margin-bottom: .5em;
  margin-top: .5em;
  margin-left: 1em;
  padding: .5em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
}

.navigator a {
  text-align: center;
  padding: 12px 3em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px; 
  color: #333;
}

#div_pasos div {
  border-bottom: 1px solid #eee; 
}

.spnPaso {
  vertical-align: middle;
}

/**input mask**/
:invalid {
  outline: 1px solid rgb(138, 51, 51); }

.shell {
  position: relative;
  line-height: 1; }
  .shell span {
    position: absolute;
    left: 3px;
    top: 1px;
    color: #ccc;
    pointer-events: none;
    z-index: -1; }
    .shell span i {
      font-style: normal;
      /* any of these 3 will work */
      color: transparent;
      opacity: 0;
      visibility: hidden; }

input.masked,
.shell span {
  font-size: 16px;
  font-family: monospace;
  padding-right: 10px;
  background-color: transparent;
text-transform: uppercase; }

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}