<jsv-header>
    <button-header-left onclick="$JSView.actionMenu()">M</button-header-left>
    {{title}}
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
    <jsv-list>
        <ul>
            <li class="divider cGrey strong">Pedidos</li-header>
            <li onclick="$JSView.goToView('viewGeneral')">Mis pedidos</li>
            <li class="divider cGrey strong">Configuraci&oacute; de la cuenta</li-header>
            <li onclick="$JSView.goToView('viewForms')">Inicio de sesi&oacute;n</li>                
            <li onclick="$JSView.goToView('viewForms')">Direcci&oacute;n de entrega</li>
        </ul>
    </jsv-list>
</jsv-content>